{{x-favicon href=favicon}}

{{#if isTestingDocumentTitle}}
  {{#document-title}} Testing{{/document-title}}
{{/if}}
{{#document-title}}ember-wormhole{{/document-title}}

<h1 id="title">ember-wormhole</h1>

{{outlet}}

<aside id="sidebar" class="sidebar">
  <h2>Sidebar</h2>
</aside>
<aside id="othersidebar" class="sidebar"></aside>

<p class='example'>
  Welcome. This ember-cli addon provides a component that allows for rendering
  a block in a typical Ember context in terms of bound data and action handling,
  but attached to a DOM element somewhere else on the page.
</p>

<p class='example'>
  The example app you are looking at includes an intializer which adds a div
  to the body element of this document with an ID of <code>modals</code>.
  It also has a sidebar with an element with an ID of <code>sidebar</code>.
  Finally, there is a <code>current-user</code> component, which yields a
  <code>user</code> object and is used to demonstrate bound values across
  the wormhole boundary.
</p>

<p>
  In addition to the visible wormholes on screen, there are components
  that inject Ember into the <code>head</code> of the page.
</p>

<button id="toggle-title" {{action 'toggleTitle'}}>Toggle Title</button>
<label>
  Favicon: {{input value=favicon class="favicon"}}
</label>

<div class='example' id='example-modal'>
  <h2>Modal Example</h2>
  {{code-snippet name='modal.hbs'}}
  {{!-- BEGIN-SNIPPET modal --}}
  <button {{action 'toggleModal'}}>Toggle Modal</button>
  {{#current-user as |user|}}
    <label>
      Username: {{input value=user.username class="username"}}
    </label>
    {{#if isShowingModal}}
      {{#ember-wormhole to='modals'}}
        <div class="overlay" {{action 'toggleModal'}}></div>
        <div class="dialog">
          <h1>Hi, I'm a simple modal dialog</h1>
          <p>Here we have some content which is bound from the context
            where the wormhole component was used: "{{user.username}}"</p>
          <button {{action 'toggleModal'}}>Close</button>
        </div>
      {{/ember-wormhole}}
    {{/if}}
  {{/current-user}}
  {{!-- END-SNIPPET --}}
</div>

<div class='example' id='example-sidebar'>
  <h2>Sidebar Example</h2>
  {{code-snippet name='sidebar.hbs'}}
  {{!-- BEGIN-SNIPPET sidebar --}}
  {{#current-user as |user|}}
    <button {{action 'toggleSidebarContent'}}>Toggle Sidebar Content</button>
    <button {{action 'switchSidebars'}}>Switch Sidebars From Without</button>
    <button {{action 'toggleInPlace'}}>Toggle In Place</button>
    <button {{action 'toggleReplace'}}>Toggle Replacing Content</button>
    <label>
      First Name: {{input value=user.firstName class="first-name"}}
    </label>
    <label>
      Last Name: {{input value=user.lastName class="last-name"}}
    </label>
    {{#if isShowingSidebarContent}}
      {{#ember-wormhole to=sidebarId id='sidebarWormhole' renderInPlace=isInPlace replaceContent=replacesContent}}
        <h1>Epic sidebar action</h1>
        <p>Here we have some content which is bound from the context
          where the wormhole component was used: "{{user.fullName}}"</p>
        <button {{action 'toggleSidebarContent'}}>Hide Sidebar Content</button>
        <button {{action 'switchSidebars'}}>Switch Sidebars From Within</button>
      {{/ember-wormhole}}
    {{/if}}
  {{/current-user}}
  {{!-- END-SNIPPET --}}
</div>
